<section>
  <article class="podcast">
    <h1>About the podcast</h1>
  </article>

  <p>
    The "Programming" podcast with Minko Gechev is a weekly show that aims to
    make us better software engineers! With each new episode, you'll get
    exposed to a new idea in a brief and accessible way. Listening to the
    show:
  </p>

  <div class="list">
    <ul>
      <li>
        Will help you understand where you can apply the individual concepts
        for more elegant and efficient solutions.
      </li>
      <li>
        Give you an intuition how complex algorithms and patterns work.
      </li>
      <li>
        Help you land your next engineering job by expanding your knowledge.
      </li>
      <li>
        Spark your interest for further reading so you can dig deeper and
        get more detailed understanding
      </li>
    </ul>
  </div>

  <p>
    Having a computer science degree is not a requirement for getting value
    from the "Programming" podcast. If you have one, you'll finally
    understand how you can use all the math you've studied.
  </p>

  <p>
    For feedback, questions, and requests, please reach out to me at
    <a href="mailto:podcast@gechev.io">podcast@gechev.io</a>.
  </p>

  <h3>About the host</h3>

  <p>
    <img class="host-photo" src="/assets/minko-gechev.jpg" />
    Minko Gechev is a senior engineer at Google, where he develops tools for
    the framework Angular. Before joining Google, he was a technical
    co-founder and the CTO of the company Rhyme.com, which in 2018 got
    acquired by Coursera.
  </p>

  <p>
    The President of the Republic of Bulgaria awarded Minko for his software
    projects with a high social impact and with a diploma for contributions
    to the areas of computer science and software engineering.
  </p>

  <p>
    In 2019 Forbes Bulgaria included Minko Gechev in their selection "30
    under 30" in category Science and Technology.
  </p>
</section>
