.loading {
  text-align: center;
}

.episode-content {
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.4em;
  width: 60%;
  max-width: 1200px;
  min-width: 300px;
  margin: auto;
}

audio {
  width: 100%;
  margin-bottom: 20px;
}
