<header>
  <div class="menu-wrapper">
    <ul class="menu">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
    </ul>
    <ul class="social">
      <li><a href="https://twitter.com/mgechev" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://open.spotify.com/show/0bMhQFbGCgFS4p6cwY4LZ7?si=ArYh5OqjRiC_W3ZsHYC2aQ" target="_blank"><i class="fa fa-spotify"></i></a></li>
      <li><a href="https://podcasts.apple.com/us/podcast/programming/id1493739285" target="_blank"><i class="fa fa-apple"></i></a></li>
      <li><a href="https://soundcloud.com/the-programming-podcast" target="_blank"><i class="fa fa-soundcloud"></i></a></li>
      <li><a href="http://feeds.soundcloud.com/users/soundcloud:users:760338451/sounds.rss" target="_blank"><i class="fa fa-rss"></i></a></li>
    </ul>
  </div>
</header>

<section class="title"><span class="terminal">&gt;_</span>Programming<span class="host"> podcast with Minko Gechev</span></section>

<router-outlet></router-outlet>
