<header>
  <div class="menu-wrapper">
    <ul class="menu">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
    </ul>
    <ul class="social">
      <li><a href="https://twitter.com/mgechev" target="_blank"><span class="fa fa-twitter"></span></a></li>
      <li><a href="https://soundcloud.com/the-programming-podcast" target="_blank"><span class="fa fa-soundcloud"></span></a></li>
    </ul>
  </div>
</header>

<section class="title"><span class="terminal">>_</span>The Programming Podcast <span class="host">with Minko Gechev</span></section>

<router-outlet></router-outlet>
