h1 {
  font-weight: 400;
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
}

article h3 {
  font-weight: 200;
  color: #444;
}

article {
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.2em;
  width: 60%;
  max-width: 1200px;
  min-width: 400px;
  margin: auto;
}

a {
  color: #222;
}

a:hover {
  color: #000;
}
